/* about.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  color: #fff;
}

.header {
  background-image: linear-gradient(to right, #ff6b6b, #ff3838);
  padding: 20px;
  margin-top: 0.6%;
  text-align: center;
  width:30%;
  margin-right:35%;
  margin-left: 33.5%;
}

.header h1 {
  font-size: 36px;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #ff6b6b;
  border-radius: 10px;
  background-color: rgba(255, 107, 107, 0.2);
}

.content h2 {
  font-size: 24px;
  margin-top: 0;
  color: #ff6b6b;
}

.content p {
  font-size: 18px;
  line-height: 1.5;
}

.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}

.quote {
  margin-top: 40px;
  text-align: center;
}

.quote a {
  font-style: italic;
  font-size: 20px;
  color: #ff4545;
  text-decoration: none;
  transition: color 0.3s ease;
}

.quote a:hover {
  color: #ff2828;
}


.navbar {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: flex-end; /* Align navbar to the right */
  position: fixed;
  font-family: 'Poppins', sans-serif;
  top: 0;
  right: 0; /* Position navbar on the right side */
  width: fit-content;
}



.navbar-links {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-left: -14%;
  padding-left: 7.75%;
  padding-right: 7.75%;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar-links li a:hover {
  color: #ff6b6b;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-content h2 {
  font-size: 24px;
  margin-top: 0;
  color: #ff6b6b;
}

.modal-content p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}

.modal-content .redirect-button {
  background-color: #ff6b6b;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.modal-content .redirect-button:hover {
  background-color: #ff3d3d;
}

.modal-content .redirect-button:focus {
  outline: none;
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff6b6b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff3838;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff1a1a;
}
